body {
  background: #A3DDED;
  font-family: arial;
  margin: 0;
}

header {
  /*background-color: white;*/
}


nav ul{
  display: flex;
  list-style: none;
  justify-content: space-around;

}

nav ul li {
  display: inline-block;
  padding: 5px 20px 5px 10px;
  margin-right: 30px;
  cursor: pointer;
}

nav ul li a {
  color: white;
  font-family: monospace;
  font-size: 16px; 
  cursor: pointer;
  text-decoration: none;
  padding: 5px 10px 5px 10px;
}

.clicker:hover{
    background:#668A94;
    color: white;
    padding: 15px 10px 15px 10px; 
}


div h1 a{
  color: white;
  font-family: monospace; 
  font-size: 16px; 
  text-decoration: none;
  padding: 15px 10px 15px 10px;
  position: absolute;
  top:175px;
  left:0px;
  height:25px
}

div h2 a{
  color: white;
  font-family: monospace; 
  font-size: 16px; 
  text-decoration: none;
  padding: 15px 10px 15px 10px;
  position: absolute;
  top:225px;
  left:0px;
  height:25px
}

div h3 a{
  color: white;
  font-family: monospace; 
  font-size: 16px; 
  text-decoration: none;
  padding: 15px 10px 15px 10px;
  position: absolute;
  top:275px;
  left:0px;
  height:25px
}

div h4 a{
  color: white;
  font-family: monospace; 
  font-size: 16px; 
  text-decoration: none;
  padding: 15px 10px 15px 10px;
  position: absolute;
  top:325px;
  left:0px;
  height:25px
}

h1{
  color: #F492A1;
  font-family: monospace; 
  font-size: 18px;
  margin-left: 40px;
}

/*p{
  color: white;
  font-family: monospace; 
  font-size: 16px;
  margin-left: 40px;
}*/

    #center {
      padding: 10px 20px;
      width: 100%;
    }
    
    
    /* IE hack */
    * html #left {
      left: 150px;
    }

    /* Make the columns the same height as each other */
    #container {
      overflow: hidden;
    }

    #container .column {
      padding-bottom: 1001em;
      margin-bottom: -1000em;
    }

    /* Fix for the footer */
    * html body {
      overflow: hidden;
    }
    
    * html #footer-wrapper {
      float: left;
      position: relative;
      width: 100%;
      padding-bottom: 10010px;
      margin-bottom: -10000px;
      background: #fff;
    }

    /* Aesthetics */
    body {
      margin: 0;
      padding: 0;
      font-family:monospace;
      line-height: 1.5em;
    }
    
    p {
      color: #555;
    }

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


    #center {
      background: #a3dded;
    }

    #container .column {
      padding-top: 1em;
    }

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  clear: both;
}



